
body {
    background-color: #0a1f44;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
    box-sizing: border-box;
    font-family: sans-serif;
}

#start_shopping {
    background-color: #d6e9ff;
    border: none;
    color:#68a0cf;
    text-align: center;
    width: 210px;
    height: 75px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button_start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#start_shopping:hover {
    background-color: #b0d4ff;

}

#heading1 {
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
}
#heading3 {
    color: #ffffff;
    text-align: left;
    margin-top: 15px;
    font-size: 20px;
    padding: 20px;
}
#heading4 {
    color: #ffffff;
    text-align: left;
    margin-top: 15px;
    font-size: 23px;
    padding: 20px;
    text-decoration: underline;
}

.background {
    opacity: 0;
    animation: slideFromLeft 0.8s ease-out forwards;
    background-color:  #1f3a93;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f3a93;
    padding: 15px 30px;
    box-shadow: 5px 5px 5px rgb(96, 115, 255);
    

}
.logo {
    color: #d6e9ff;
    font-size: larger;
    font-weight: bold;
}
.logo a:hover{
    color: white;
    border-radius: 20px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 20px;
}

.navbar a {
    color: #68a0cf;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}
.navbar a:hover {
    color: white;
    border-radius: 20px;
}

@media (max-width:768px){
    .header{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
    }
}
.navbar {
    opacity: 0;
    animation: block 0.8s ease-out forwards;
    background-color:  #1f3a93;
}
@keyframes block {
    
    from {
        transform: translateX(-50px);
        opacity: 0;
    }to {
         transform: translateX(0);
        opacity: 1;
    }
}


#butt_cart {
    border-radius: 360px;
    background-color: #1f3a93;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
}

#butt_cart:hover {
    background-color: white;
    cursor: pointer;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    height: 280.2px;
    width: 230.2px;
    background-color: #1f3a93;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 15px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card-content {
    padding: 16px;
}
.card-content h3 {
    font-size: 20px;
    margin-bottom: 0;
    color: white;
}
.card-content p {
    color: white;
    font-size: 15px;
}
.card-content .btn {
    display: inline-block;
    padding: 10px 16px;
    background-color: #68a0cf;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: -50px;
    height: 30px;
    width: 90px;
    color: white;
    cursor: pointer;
}
.card-content .btn:hover {
    background-color: #0a1f44;
}




body {
    background-color: #0a1f44;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}

#start_shopping {
    background-color: #d6e9ff;
    border: none;
    color:#68a0cf;
    text-align: center;
    width: 210px;
    height: 75px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.button_start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#start_shopping:hover {
    background-color: #b0d4ff;

}

#heading1 {
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
}
#heading3 {
    color: #ffffff;
    text-align: left;
    margin-top: 15px;
    font-size: 20px;
    padding: 20px;
}
#heading4 {
    color: #ffffff;
    text-align: left;
    margin-top: 15px;
    font-size: 23px;
    padding: 20px;
    text-decoration: underline;
}

.background {
    opacity: 0;
    animation: slideFromLeft 0.8s ease-out forwards;
    background-color:  #1f3a93;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f3a93;
    padding: 15px 30px;
    box-shadow: 5px 5px 5px rgb(96, 115, 255);    

}
.logo {
    color: #d6e9ff;
    font-size: larger;
    font-weight: bold;
}
.logo a:hover{
    color: white;
    border-radius: 20px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 20px;
}

.navbar a {
    color: #68a0cf;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}
.navbar a:hover {
    color: white;
    border-radius: 20px;
}

@media (max-width:768px){
    .header{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
    }
}
.navbar {
    opacity: 0;
    animation: block 0.8s ease-out forwards;
    background-color:  #1f3a93;
}
@keyframes block {
    
    from {
        transform: translateX(-50px);
        opacity: 0;
    }to {
         transform: translateX(0);
        opacity: 1;
    }
}


#butt_cart {
    border-radius: 360px;
    background-color: #1f3a93;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
}

#butt_cart:hover {
    background-color: white;
    cursor: pointer;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    height: 280.2px;
    width: 230.2px;
    background-color: #1f3a93;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 15px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card-content {
    padding: 16px;
}
.card-content h3 {
    font-size: 20px;
    margin-bottom: 0;
    color: white;
}
.card-content p {
    color: white;
    font-size: 15px;
}
.card-content .btn {
    display: inline-block;
    padding: 10px 16px;
    background-color: #68a0cf;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: -50px;
    height: 30px;
    width: 90px;
    color: white;
    cursor: pointer;
}
.card-content .btn:hover {
    background-color: #0a1f44;}

.box{
  max-width: 400px;
  width: 100%;
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif
}
.box .search-box{
  position: relative;
  height: 50px;
  max-width: 50px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s ease;
}
#check:checked ~ .search-box{
  max-width: 300px;
}
.search-box input{
 position: absolute;
 height: 100%;
 width: 100%;
 border-radius: 20px;
 background: #0a1f44;
 outline: none;
 border: none;
 padding-left: 2px;
 font-size: 18px;
 color: white;
}
.search-box .icon{
  position: absolute;
  right: -3px;
  top: 0;
  width: 70px;
  background: #0a1f44;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #1f3a93;
  font-size: 20px;
  border-radius: 20px;
}
#check:checked ~ .search-box .icon{
  background: #1f3a93;
  color: #68a0cf;
  width: 60px;
  border-radius: 0 25px 25px 0;
}
#check{
  padding: 20px;  
  display: none;
}


